@charset "UTF-8";

/* color */ 
.m_color{color:#064acb;font-weight: bolder; font-size: 2.1rem;}


/* nav */ 
nav{}
.navbar-default .navbar-nav > .active > a{background: #007bff; color: #FFF;}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: yellow;
  background-color: #007bff;
}
/* body */
body{}
#titletext{display:none;}
.container-fluid{
	/* min-height: calc(100vh - 20px); */
	min-height: 80vh;
	margin: 51px 0 0 0;
	}


/* footer */ 
footer{padding: 20px 0; text-align: center;}
.list-group{width: 300px; margin-left: auto; margin-right: auto; padding: 10px 0;}
.list-group li{float:left; list-style: none;  padding:0 10px;}