@charset "UTF-8";

/* color */ 
.m_color{color:#064acb;font-weight: bolder; font-size: 2.1rem;}


/* nav */ 
nav{}
.navbar-default .navbar-nav > .active > a{background: #007bff; color: #FFF;}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: yellow;
  background-color: #007bff;
}
/* body */
body{}
#titletext{display:none;}
.container-fluid{
	/* min-height: calc(100vh - 20px); */
	min-height: 80vh;
	margin: 25px 0 0 0;
	}

/* 좌측 검색창 .side_search */
.side_search{background: #636363; padding: 1% 1.5%; color:#FFF;}
.btn_search{margin:6% 0 3% 0%; width: 100%;}

/* 지도(.pnt_map)  */
.pnt_map{min-height: 300px; overflow: hidden;}


/* 인기검색종목물가, 급변동물가 .pnt_hit */
.pnt_hit{min-height:300px; }

/* footer */ 
footer{padding: 20px 0; text-align: center;}
.list-group{width: 300px; margin-left: auto; margin-right: auto; padding: 10px 0;}
.list-group li{float:left; list-style: none;  padding:0 10px;}